body {
  display: flex;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.testdash {
  display: flex;
  background: #ffffff;
  padding: 40px;
  min-height: 100vh;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to right, #f6f5f5 0%, #ffffff 10%, white 10%, white 100%);
  margin-left: 250px; /* Khoảng cách cho sidebar */
  transition: margin-left 0.3s ease;
}

/* Điều chỉnh khi sidebar collapsed */
body:has(.sidebar--collapsed) .testdash {
  margin-left: 80px;
}
.search {
  background: #f5f4f4;
  border-radius: 36px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  padding: 8px 15px 8px 15px;
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  width: 746px;
  position: absolute;
  left: 40px;
  top: 32px;
}
.search2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.t-m-ki-m {
  color: #979797;
  text-align: left;
  font-family: var(--side-title-font-family, "Quicksand-Medium", sans-serif);
  font-size: var(--side-title-font-size, 24px);
  font-weight: var(--side-title-font-weight, 500);
  position: relative;
  border: none;          
  outline: none; 
  background: transparent; 
}
.logout-section {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 250px;
}
.side-bar.collapsed .logout-section {
 display: none;
}
.logout-btn {
  color: rgb(0, 0, 0);
  border: none;
  width: 245px;
  left: 0px;
  padding: 5px 5px;
  font-size: 20px;
  cursor: pointer;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffffff;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #ce8787;
}
.user {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 860px;
  top: 32px;
}
.ellipse-50 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 52px;
  height: 52px;
  position: relative;
  object-fit: cover;
}
.user-2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.nguy-n-cao-k-duy-n {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.m-gi-ng-vi-n {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.d-dan {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 60px;
  top: 121px;
}
.l-p-h-cc {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  width: 80px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.vector-49 {
  flex-shrink: 0;
  width: 5px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.vector-51 {
  flex-shrink: 0;
  width: 5px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.b-i-ki-m-tra2 {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.vector-50 {
  flex-shrink: 0;
  width: 5px;
  height: 10px;
  position: relative;
  overflow: visible;
}
.t-n-b-i-ki-m-tra {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.table-footer {
  margin-top: 20px;
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  gap: 900px;
  align-items: center;
  justify-content: flex-end;
  width: 1072px;
  height: 4.3%;
  position: absolute;
  left: 20px;
  top: 680px;
}
._1-10-of-100 {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-Regular", sans-serif;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
  width: 118px;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-button {
  border-radius: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.chevron-left-filled {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.chevron-right-filled {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.alltestinfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 1098px;
  position: absolute;
  left: 40px;
  top: 165px;
}
.testaval {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}


.sobaichuacham {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 477px;
  position: relative;
}

.s-b-i-ch-a-ch-m {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
._12-b-i {
  color: #000000;
  text-align: left;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
}
.frame {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.baicham {
  background: #e5f0ff;
  border-radius: 14px;
  padding: 12px 15px 12px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 540px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.baicham.inactive {
  background-color: rgb(237, 237, 237);
}

.baicham:hover {
  opacity: 0.8;
}
.sobaidacham {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 455px;
  position: relative;
}
.s-b-i-ch-m {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.teststatus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.average {
  border-radius: 16px;
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 269px;
  position: relative;
}
.averpoint {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 69px;
  position: relative;
}
.i-m-trung-b-nh {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._8-5-10 {
  text-align: left;
  position: relative;
  align-self: stretch;
}
._8-5-10-span {
  color: #000000;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
._8-5-10-span2 {
  color: #979797;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.highest {
  border-radius: 16px;
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 25px;
  flex-shrink: 0;
  width: 253px;
  height: 120px;
  position: relative;
}
.highestpoint {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 25px;
  top: 25px;
}
.i-m-cao-nh-t {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._8-8-10 {
  text-align: left;
  position: relative;
  align-self: stretch;
}
._8-8-10-span {
  color: #000000;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
._8-8-10-span2 {
  color: #979797;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.lowest {
  border-radius: 16px;
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 264px;
  position: relative;
}
.lowestpoint {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.i-m-th-p-nh-t {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._1-2-10 {
  text-align: left;
  position: relative;
  align-self: stretch;
}
._1-2-10-span {
  color: #000000;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
._1-2-10-span2 {
  color: #979797;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.sum {
  border-radius: 16px;
  border-style: solid;
  border-color: #979797;
  border-width: 1px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 234px;
  position: relative;
}
.sumtest {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.t-ng-b-i-n-p {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
._32-36 {
  text-align: left;
  position: relative;
  align-self: stretch;
}
._32-36-span {
  color: #000000;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
._32-36-span2 {
  color: #979797;
  font-family: "BricolageGrotesque-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.testinfo {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-head-row {
  background: #ebebeb;
  border-radius: 8px 8px 0px 0px;
  border-style: solid;
  border-color: rgba(6, 6, 6, 0.12);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-head {
  background: rgba(255, 0, 0, 0);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.head {
  color: #000000;
  text-align: left;
  font-family: var(--table-header-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--table-header-font-size, 14px);
  line-height: var(--table-header-line-height, 24px);
  letter-spacing: var(--table-header-letter-spacing, 0.17px);
  font-weight: var(--table-header-font-weight, 500);
  position: relative;
}
.table-head2 {
  background: rgba(255, 0, 0, 0);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 255px;
  position: relative;
}
.table-head3 {
  background: rgba(255, 0, 0, 0);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}
.pagination-info {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.hs-1 {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  width: 1096px;
  height: 77px;
  position: relative;
  cursor: pointer;
}
.hs-1:hover {
  background: #f5f9ff;
}
.cell-4 {
  background: rgba(255, 0, 0, 0);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.custom-table-custom-cell {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.min-width {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-1321316798 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.t-n-sinh-vi-n {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.m-sinh-vi-n {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cell-6 {
  background: rgba(255, 0, 0, 0);
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 178px;
  position: relative;
}
.box2 {
  background: #e1ffc2;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.typography {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.body-2 {
  color: #000000;
  text-align: left;
  font-family: "BeVietnamPro-Regular", sans-serif;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.17px;
  font-weight: 400;
  position: relative;
}
.hspoint {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 80px;
  position: relative;
}
.hstime {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 147px;
  height: 80px;
  position: relative;
}
.vector-46 {
  flex-shrink: 0;
  width: 1072px;
  height: 0px;
  position: relative;
  overflow: visible;
}

.side-bar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
}
.side-bar.collapsed {
  width: 80px;
}
.side-bar.collapsed .earn-lab,
.side-bar.collapsed .dashboard,
.side-bar.collapsed .l-p-h-c,
.side-bar.collapsed .th-ng-b-o {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}
.sidebar.collapsed .logo:hover::after {
  content: "⮞";
  font-size: 1.2rem;
  margin-left: 5px;
  color: #38bdf8;
}
.side-bar.collapsed .tab-side-bar,
.side-bar.collapsed .tab-side-bar2 {
  justify-content: center;
}
.side-bar .logo {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  transition: all 0.3s ease;
}
.side-bar.collapsed .logo {
  padding: 8px;
}
.side-bar .earn-lab {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  transition: opacity 0.3s ease;
}
.logo {
  flex-shrink: 0;
  width: 240px;
  height: 140px;
  position: relative;
}
.objects {
  width: 56.55px;
  height: 58.5px;
  position: relative;
  overflow: visible;
}
.earn-lab {
  color: #000000;
  text-align: left;
  font-family: "BricolageGrotesque-Bold", sans-serif;
  font-size: 21.379295349121094px;
  font-weight: 700;
  position: relative;
  top: 18px;
  width: 120px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.tab-side-bar,
.tab-side-bar3 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.tab-side-bar2 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: #e5f0ff;

}
.tab-side-bar:hover,
.tab-side-bar3:hover {
  background-color: #e5f0ff;
}
.side-bar.collapsed .tab-side-bar img,
.side-bar.collapsed .tab-side-bar2 img {
  margin: 0;
}
.open-close {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
  overflow: visible;
}
.open-close:hover {
  cursor: ew-resize;
}
.db {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.dashboard {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 153px;
}

.study {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.l-p-h-c {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 153px;
}
.noti {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.th-ng-b-o {
  color: #000000;
  text-align: left;
  font-family: "Quicksand-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 153px;
}
