<aside class="side-bar" id="sidebar">
  <div class="logo">
    <img class="objects" src="/public/student/assets/objects0.svg"/>
    <div class="earn-lab">earn Lab</div>
    <img class="open-close" src="/public/student/assets/open-close0.svg"/>
  </div>
  
  <div class="options">
    <div class="tab-side-bar2" id="menuLopHoc">
      <img class="study" src="/public/student/assets/study0.svg" />
      <div class="l-p-h-c">Lớp học</div>
    </div>
    <div class="tab-side-bar3" id="menuThongBao">
      <img class="noti" src="/public/student/assets/noti0.svg" />
      <div class="th-ng-b-o">Thông báo</div>
    </div>
  </div>
  
  <div class="logout-section">
    <button class="logout-btn" id="btnLogout">
      <img src="/public/student/assets/logout-icon.svg" alt="Đăng xuất" style="filter: brightness(0) saturate(100%) invert(0);">
      <span>Đăng xuất</span>
    </button>
  </div>
</aside>
