<aside class="side-bar" id="sidebar">
  <div class="logo">
    <img class="objects" src="/public/student/assets/objects0.svg"/>
    <div class="earn-lab">earn Lab</div>
    <img class="open-close" src="/public/student/assets/open-close0.svg"/>
  </div>
  
  <div class="options" id="courseMenu"></div>

  <div class="logout-section">
    <button class="logout-btn" id="btnLogout">
      <img src="/public/student/assets/logout-icon.svg" alt="Đăng xuất" style="filter: brightness(0) saturate(100%) invert(0);">
      <span>Đăng xuất</span>
    </button>
  </div>
</aside>
